.cs-body-margin {
  margin-top: 70px;
}

.cs-bg-primary {
  background-color: #5c6bc0;
}

.cs-bg-p-light {
  background-color: #8e99f3;
}

.cs-bg-p-dark {
  background-color: #26418f;
}

.cs-bg-secondary {
  background-color: #1565c0;
}

.cs-bg-s-light {
  background-color: #5e92f3;
}

.cs-bg-s-dark {
  background-color: #003c8f;
}

.cs-error {
  background-color: #B00020;
  border: 0;
  cursor: pointer;
}

.cs-createaccount-margin {
  margin-top: 5vh;
}

.cs-empty:empty {
  display: none;
}

.cs-pointer {
  cursor: pointer;
}
